# Secrets
Secrets.xcconfig
Plotline/Secrets.plist

# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
xcshareddata/

# CocoaPods
Pods/

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store

# IDE
*.xcworkspace/xcuserdata/
